@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

@font-face {
  font-family: "ReM";
  src: url("./get_schwifty.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
